* {
    margin: 0;
    padding: 0;
    font-family: orbitorn;
  }

  .backupicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9vh;
    width: 15%;
    margin-top: 25vw;
  }

  .backupfound {
    text-align: center;
    color: hsl(171, 50%, 50%);
    font-size: 4.5vw;
    margin-top: 8vw;
  }

  .time {
    color: #666666;
    text-align: center;
    font-size: 4vw;
    font-weight: 400;
    line-height: 5vw;
    margin-top: 3vw;
  }

  #clock,
  #phone {
    max-width: 12vw;
    margin-top: 45vw;
  }

  #clock {
    margin-left: 10vw;
  }

  #phone {
    margin-left: 55vw;
  }

  #loading {
    margin-top: 10vw;
    text-align: center;
    height: 0.8vw;
    width: 2vw;
    background: hsla(150, 50%, 50%, .4);
    margin-left: 5vw;
    /*transition-duration:2s;*/
    transition-property: width;
    transition-timing-function: linear;
  }

  #restoring {
    text-align: center;
    font-size: 4.1vw;
    color: #999999;
    margin-top: 8vw;
    font-weight: 500;
  }

  .loadingpic {
    max-width: 100vw;
    margin-top: 40vw;
  }